// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#room {
    display: flex;
}

.seat {
    width: 30px;
    border: 1px solid #626b6f;
    margin: 3px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.seat.selected {
    background: #a5beef;
}

.seat.paid {
    background: #ec2323;
    cursor: not-allowed;
}

.seat.reserved {
    background: #bd6d6d;
    cursor: not-allowed;
}
